.search {
    height: 44px;
    width: 250px
}

.icon-green {
    color: rgb(23, 59, 23);
}

.color-text-1 {
    color: rgb(226, 225, 231);
}

.color-text-2 {
    color: brown;
}

.color-text-green {
    color: rgb(69, 61, 105);
}

.color-text-gray {
    color: darkgray;
}

.color-text-bolder {
    color: rgb(69, 61, 105);
    font-weight: bolder;
}

.bg-main {
    background-color: rgb(106, 150, 106);
}

.bg-title1 {
    background-color: linen;
    height: inherit
}

.bg-green {
    background-color: rgb(39, 39, 114);
}

.bg-green-little {
    background-color: rgb(125, 125, 236);
}

.bg-nav {
    background-color: rgb(39, 39, 143);
    ;
}

.bg-btn {
    background-color: rgb(170, 201, 170);
}

.bottom-sha {
    box-shadow: 0 4px 2px -2px gray;
}

.align-cent {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: rgb(25, 59, 23);
}

a:hover {
    color: rgb(15, 5, 59);
}

.bg-btn:hover {
    background-color: rgb(2, 65, 2);
    color: white;
}

.centerbox {
    vertical-align: middle;
}

.font {
    font-family: Arial, ;
}

.textshadow {
    text-shadow: 1px 1px black;
}

.active:visited {
    background-color: rgb(205, 195, 247);
}

body {
    font-family: Arial, Helvetica, sans-serifs;
}

.bg-soft {
    background-color: rgb(215, 232, 247);
}